.resize-item{
    width: 9px;
    height: 9px;
    border: 1px solid #883333;
    position: absolute;
    background: #fff;
    z-index: 9;
}

.resize-body{
    position: absolute;
    background: #883333;
    z-index: 9
}
