<ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzSelectable] = "false" [nzInlineIndent]="16" *ngIf="widgetService.getGroup() != null">
    <li nz-submenu *ngFor="let type of widgetService.getGroup().widgetType">
        <span title>{{type.name}}</span>
        <ul>
            <li nz-menu-item *ngFor="let widget of type.widgets" ngClass="{{widget == showWidget? 'active':''}}"
                (mouseenter)="enterItem(widget, $event)"
                (mouseleave)="showWidget = null"
            >{{widget.name}}</li>
        </ul>
    </li>
</ul>
<app-widget-show-view [widget]="showWidget.defaultWidget" [top]="showWidgetTop" *ngIf = "showWidget != null"></app-widget-show-view>
