<div style="width: 100%; height: 100%">
    <nz-layout style="width: 100%; height: 100%">
        <nz-sider>
            <app-widget-list></app-widget-list>
        </nz-sider>
        <nz-layout>
            <nz-content style="overflow: auto; padding: 20px;" >
                <canvas #canvas width="{{contentWidth}}" height="{{contentHeight}}"></canvas>
            </nz-content>
            <nz-sider>
            </nz-sider>
        </nz-layout>
    </nz-layout>
    <app-message></app-message>
</div>
